@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';


.sidebar{
   width: 117px;
   background-color:$color-black1;
   height: calc(100vh - 91px);
   @include flex (column, end, center);

   nav{
      @include flex (column, space-between, center);
      gap : 40px;
   }

   &__logo{
      width: 64px;
      height: 64px;
      border-radius: 6px;
      background-color: $color-white;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__text{
      margin-top: 40px;
      font-size: 12px;
      font-weight: $font-medium;
      color: $color-white;
      writing-mode: sideways-rl;
      transform: rotate(180deg);
      margin-top: 160px;
   }
}