@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.under{
   @include flex (column, center, center);
   font-size: 40px;
   display: flex;
   text-align: center;
   justify-content: center;
   color: red;
}
.underImage{
   width:100px;
   height: 100px;
   margin-bottom: 30px;
}