@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.navbar{
      @include flex (row, space-between, center);
      height: 91px;
      background-color:$color-black1;
   
      &__logo{
         width: 300px;
      }

      &__nav{
         @include flex (row, space-evenly, center);
         width: 100%;
            &__link{
               color: $color-white;
               font-weight: $font-medium;
               font-size: 24px;
      }
  }
}