$color : #E60000;

$color-red:#E60000;
$color-red-icon:#FF0101;

$color-black1:#020203;
$color-black2:#282D30;



$color-white:#FFFFFF;
$backgroud1 : #E5E5E5;
$backgroud2:#FBFBFB;


$font-family-primary :'Roboto';
$font-regular :400;
$font-medium :500;
$font-bold :700;

$color-bleu : #282D30


