@import '../../scss/variables.scss';

@keyframes spinner{
  to{
    transform: rotate(360deg);
  }
}
.loader{
  width:100px;
  height: 100px;
  border-radius: 50%;
  border:6px solid transparent;
  border-top-color: $color-red;
  position: absolute;
  left : 50%;
  top : calc(50vh - 50px);
  animation: spinner 1s linear infinite;;
}