@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';


   .dashboard{
      &__cards{
         display: grid;
         grid-template-columns: repeat(4, 1fr);         
         grid-auto-rows:320px 320px;
         grid-gap: 40px;
         margin-top: 40px;

         .card-activity{
            background-color:  $backgroud2;
            grid-row: 1;
            grid-column: span 3;
         }
         .card-durationSessions{
            background-color: #FF0000;
            grid-row: 2;
            grid-column: 1;
         }
         .card-performance{
            grid-row: 2;
            grid-column: 2;
            background-color: $color-black2;
         }

         .card-score{
            background-color: $backgroud2;
            grid-row: 2;
            grid-column: 3;

         }




         .CardInfos{
            background-color: yellow;
            grid-row: span 2;
            grid-column: 4;

         }

      }

   }
   
