@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

//style simple bar chart
.card-activity{
   @include flex (column, space-between, center);

   &__header{
      @include flex (row, space-between, center);
      //height: 60px;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 20px;

      h3{
         margin-left: 20px;
         font-size: 15px;
         font-weight: $font-medium;
      }

      &__indicator{
         @include flex (row, space-between, center);
        
         &__els{
            margin-right: 20px;
            span{
               margin-left: 6px;
               font-size: 14px;
               font-weight: $font-medium;
            }
         }
      }
   } 
}